<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Tiffin School Leavers 2015</title>
  <link rel='stylesheet' href='/app.min.css'>
</head>
<body ng-app='tiffin2015'>
  <div id='background'></div>
  <div id='header' class='pure-menu pure-menu-horizontal'>
    <ul id='nav' class='pure-menu-list'>
      <li class='pure-menu-item' ui-sref-active='pure-menu-active'><a class='pure-menu-link' ui-sref='yearbook'>Yearbook</a></li>
      <li class='pure-menu-item' ui-sref-active='pure-menu-active'><a class='pure-menu-link' ui-sref='photos.gallery'>Photos</a><!-- Hacky way of getting ui-sref-active to work --><a ui-sref='photos.photo'></a></li>
      <li class='pure-menu-item' ui-sref-active='pure-menu-active'><a class='pure-menu-link' ui-sref='videos'>Form videos</a></li>
      <li class='pure-menu-item' ui-sref-active='pure-menu-active'><a class='pure-menu-link' ui-sref='forms'>Forms</a></li>
    </ul>
  </div>
  <div id='main' ui-view></div>
  <script src='vendor.min.js'></script>
  <script src='app.min.js'></script>
</body>
</html>