<div id='yearbook-wrapper'>
  <p>So here it is, in all it’s un-censored glory. If you’re just after the quotations and awards pages, you can find them here.</p>
  <div class='links'>
    <a class='pure-button pure-button-primary pure-button-xlarge' href='/yearbook-qa.pdf' target='_blank'>Quotations and awards</a>
  </div>
  <p>You can view the document that was published, or the document that should have been published, or (if you’re weird) you can download it as an ebook.</p>
  <div class='links'>
    <a class='pure-button pure-button-primary pure-button-xlarge' href='/yearbook-published.pdf' target='_blank'>As published</a>
    <a class='pure-button pure-button-primary pure-button-xlarge' href='/yearbook.pdf' target='_blank'>Original</a>
    <a class='pure-button pure-button-primary pure-button-xlarge' href='/yearbook.epub' target='_blank'>Original (ebook)</a>
  </div>
  <p>If you desperately want the unoptimised high-res versions, you can find them <a href='http://1drv.ms/1PsqNRC' target='_blank'>here</a>.</p>
</div>